@media screen and (max-width: 400px) {
    .nav-container{
        flex-direction: column;
    }

    .logo-container{
        width: 100%;
        flex-direction: column;
    }

    .item-container{
        width: 100%;
        flex-direction: column;
        
    }

    .item-container a{
        margin-top: 20px;
    }

    .item-container .login-btn{
        width: 100%;
        margin-bottom: 20px;
    }
}